{% extends "base.html" %}
{% block title %} Order {% endblock %}
{% block navbar %}
        <nav class="navbar navbar-dark" style="background-color: #32CD32;">
          <a class="navbar-brand" href="{{ url_for('show_admin_page') }}">Admin</a>
        </nav>
{% endblock %}
{% block container %}
        <div class="row justify-content-md-center p-3">
            <div class="col-6">
                <h1>New Order</h1>
            </div>
        </div>

        <!--column one-->
        <div class="row justify-content-md-center p-3 mt-3">
            <div class="col-6">

                <form action="/" method="post">
                    <div class="form-group">

                        <!--some Jinja magic for showing checked boxes if the user selected something-->
                        <!--before clicking on "Add to order"-->

                        <!--for each product in the list that we passed from __init__.py-->

                        {% for product in products %}

                            <!--if choices is empty, e.g. if it's the first time the page is shown-->
                            <!--and we didn't send a "choices" variable, this step will be skipped-->

                            {% if choices %}
                                {% if product.name in choices %}
                                    <!--if the product is in choice we are marking it as "checked"-->
                                    <input type="checkbox" class= "big-checkbox" name="checkbox_products" value="{{product.name}}" checked> {{product.name}} : $ {{product.price}}
                                    <input type="number" min="0" class= "order-quantity" name="order_products"><br>
                                {% else %}
                                    <input type="checkbox" class= "big-checkbox" name="checkbox_products" value="{{product.name}}"> {{product.name}} : $ {{product.price}}
                                    <input type="number" min="0" class= "order-quantity" name="order_products"><br>
                                {% endif %}
                            {% else %}
                                <input type="checkbox" class= "big-checkbox" name="checkbox_products" value="{{product.name}}"> {{product.name}} : $ {{product.price}}
                                <input type="number" min="0" class= "order-quantity" name="order_products"><br>
                            {% endif %}

                        {% endfor %}
                    </div>

                    <button type="submit" name="add_to_order" class="btn btn-light">Add to order</button>
                    <button type="submit" name="checkout" class="btn btn-light">Checkout order</button>
                    <button type="submit" name="cancel" class="btn btn-light">Cancel order</button>

                </form>
            </div>

            <!--column two-->
            <div class="col-6">

                <p>Order items:</p>
                <ul class="list-group">

                    {% for choice in choices %}
                        <li class="list-group-item text-muted">{{ choice }}</li>
                    {% else %}
                    <li class="list-group-item text-muted">Empty</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
{% endblock %}